@media only screen and (max-width: 1100px){

}
@media only screen and (max-width: 995px) {
    .home_div{
        position: relative;
       display: flex;
       flex-direction: row;
        text-align: left;
        align-items: center;
        justify-content: left;
        justify-items: center;
        min-height: 100vh;
        padding: 0 50px;
    }
    .op_tag{
        font-size: 4rem !important;
        font-family: 'Titillium Web' !important;
        color: var(--bt-color) !important;
        opacity: 0.2;
    }
    .bg{
        color: white;
        background: linear-gradient(261.63deg, rgba(0, 242, 230, 0.1) -15.38%, rgba(0, 180, 240, 0.1) 107.69%);
     opacity: 1;
     border-radius: 24px;
     margin: 30px 80px;
     }
     .how1{
    
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 0px;
      
        
    }
    .mynav{
        background-color: var(--m-font-color);
        padding-bottom: 100px;
    }
    .about_tag{
        
        text-align: center;
         margin-top: 50px;
         color: white;
        font-size: 20px;
        position: relative;
     }
    .about_div{
        width: 100%;
        
        position: relative;
        background: var(--m-font-color) url("../images/stars-pattern.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: auto;
    display: flex;
    flex-direction: column;
    
    }
    .about_pic{
        margin-top: 20px; 
         
    }
    .about_tag::after{
        content: "";
        position: absolute;
        width: 70px;
        height: 2px;
        background-color: var(--bt-color);
        left: 50%;
       right: 50%;
        top: 30px;
        margin-left: -30px;
      
    }
  
    .footer_div{
        padding: 0% 0% 0 0%;
        display: flex;
        flex-direction: column;

    }
  
    .about_desc{
        position: relative;
        bottom: 0px;
        width: 100%;
        color: white;
        padding: 20px;
        }
        html{
            overflow-x: hidden !important;
        }
        .contact-row{
    
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
            grid-gap: 20px;
            margin: 40px 80px 40px 80px;
        }
}


@media only screen and (max-width: 450px) {
    .home_div{
        position: relative;
       display: flex;
       flex-direction: row;
        text-align: left;
        align-items: center;
        justify-content: left;
        justify-items: center;
        min-height: 100vh;
        padding: 0 20px;
    }
    .home-div1 h1{
        font-size: 2.5rem;
        font-weight: 800;
        color: white;
    }
    .op_tag{
        font-size: 3rem !important;
        font-family: 'Titillium Web' !important;
        color: var(--bt-color) !important;
        opacity: 0.2;
    }
    .how1{
    
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 0px;
      
        
    }
    html{
        overflow-x: hidden !important;
    }
    .about_pic{
        margin-top: 20px; 
         width: 350px;
    }
    .bg{
        color: white;
        background: linear-gradient(261.63deg, rgba(0, 242, 230, 0.1) -15.38%, rgba(0, 180, 240, 0.1) 107.69%);
     opacity: 1;
     border-radius: 24px;
     margin: 10px 20px;
     }
     .contact-row{
    
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        grid-gap: 20px;
        margin: 20px 40px 20px 40px;
    }
    .footer_div{
        padding: 0% 0% 0 0%;
        text-align: center;
    }
    .conatc_tag:after{
        position: absolute;
        content: "";
        width: 60px;
        height: 2px;
        background-color: var(--bt-color);
     right: 50%;
        margin-top: 35px;
        margin-left: -20px;
       
    }
    .footer_div ul li{
        float: left;
        color: white;
        list-style: none;
        margin-right: 10px;
    }
    .copyryt{
        float: left;
        color: white;
        padding: 0 20px;
    }
}